USE [ispp3103]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 25.12.2025 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 25.12.2025 19:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 25.12.2025 19:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[ReceiveCode] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shoe]    Script Date: 25.12.2025 19:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shoe](
	[ShoeId] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[Article] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Size] [int] NULL,
	[Color] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Shoe] PRIMARY KEY CLUSTERED 
(
	[ShoeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoeOrder]    Script Date: 25.12.2025 19:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoeOrder](
	[OrderId] [int] NOT NULL,
	[ShoeId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_ShoeOrder] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ShoeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25.12.2025 19:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 25.12.2025 19:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 25.12.2025 19:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (3, N'Рос')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (1, N'Ботинки')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (2, N'Туфли')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (3, N'Кроссовки')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [Status], [UserId], [OrderDate], [DeliveryDate], [ReceiveCode]) VALUES (1, N'Завершён', 1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 901)
INSERT [dbo].[Order] ([OrderId], [Status], [UserId], [OrderDate], [DeliveryDate], [ReceiveCode]) VALUES (2, N'Завершён', 2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 902)
INSERT [dbo].[Order] ([OrderId], [Status], [UserId], [OrderDate], [DeliveryDate], [ReceiveCode]) VALUES (3, N'Завершён', 3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 903)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Shoe] ON 

INSERT [dbo].[Shoe] ([ShoeId], [VendorId], [CategoryId], [BrandId], [Article], [Price], [Discount], [Quantity], [Description], [Size], [Color], [Gender], [Photo]) VALUES (1, 1, 1, 1, N'А112Т4', 4990, 3, 6, N'Женские Ботинки демисезонные kari', NULL, NULL, N'Женская обувь', N'1.jpg')
INSERT [dbo].[Shoe] ([ShoeId], [VendorId], [CategoryId], [BrandId], [Article], [Price], [Discount], [Quantity], [Description], [Size], [Color], [Gender], [Photo]) VALUES (2, 2, 1, 2, N'F635R4', 3244, 2, 13, N'Ботинки Marco Tozzi женские демисезонные', 39, N'Бежевый', N'Женская обувь', N'2.jpg')
INSERT [dbo].[Shoe] ([ShoeId], [VendorId], [CategoryId], [BrandId], [Article], [Price], [Discount], [Quantity], [Description], [Size], [Color], [Gender], [Photo]) VALUES (3, 1, 2, 1, N'H782T5', 4499, 5, 5, N'Туфли kari мужские классика MYZ21AW-450A', 43, N'Черный', N'Мужская обувь', N'3.jpg')
SET IDENTITY_INSERT [dbo].[Shoe] OFF
GO
INSERT [dbo].[ShoeOrder] ([OrderId], [ShoeId], [Quantity]) VALUES (1, 1, 2)
INSERT [dbo].[ShoeOrder] ([OrderId], [ShoeId], [Quantity]) VALUES (1, 2, 2)
INSERT [dbo].[ShoeOrder] ([OrderId], [ShoeId], [Quantity]) VALUES (2, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [RoleId], [FullName], [Login], [Password]) VALUES (1, 1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[User] ([UserId], [RoleId], [FullName], [Login], [Password]) VALUES (2, 1, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[User] ([UserId], [RoleId], [FullName], [Login], [Password]) VALUES (3, 1, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([RoleId], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[UserRole] ([RoleId], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[UserRole] ([RoleId], [Name]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendor] ON 

INSERT [dbo].[Vendor] ([VendorId], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Vendor] ([VendorId], [Name]) VALUES (2, N'Обувь для вас')
SET IDENTITY_INSERT [dbo].[Vendor] OFF
GO
/****** Object:  Index [UQ_User_Login]    Script Date: 25.12.2025 19:03:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_User_Login] ON [dbo].[User]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoe_Brand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([BrandId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoe_Brand]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoe_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoe_Category]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoe_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoe_Vendor]
GO
ALTER TABLE [dbo].[ShoeOrder]  WITH CHECK ADD  CONSTRAINT [FK_ShoeOrder_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ShoeOrder] CHECK CONSTRAINT [FK_ShoeOrder_Order]
GO
ALTER TABLE [dbo].[ShoeOrder]  WITH CHECK ADD  CONSTRAINT [FK_ShoeOrder_Shoe] FOREIGN KEY([ShoeId])
REFERENCES [dbo].[Shoe] ([ShoeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ShoeOrder] CHECK CONSTRAINT [FK_ShoeOrder_Shoe]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRole] ([RoleId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserRole]
GO
